.ul-custom li a{
	color:green !important;
	text-align: center;
}

.ul-custom li:hover{
	background-color: #c0c0c0;
}

.footer-custom div.container{
	
	display:flex;
	justify-content:center;
}
.search-custom{
	width:200px;
}
small {
	color:red;
}